# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.f.society.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\games\f.society\.idea\.idea.f.society\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
